#:schema https://json.schemastore.org/any.json

root = "."
testdata_dir = "testdata"
tmp_dir = "bin"

[build]
  args_bin = []
  cmd = "go build -gcflags=\"all=-N -l\" -o ./bin/main ./cmd/server"
  delay = 1000
  env = ["CGO_ENABLED=0"]
  # Use PATH-resolved tools like dlv by omitting path separators.
  entrypoint = [
    "dlv", "exec", "--accept-multiclient", "--log", "--headless", "--continue",
    "--listen=:2345", "--api-version", "2", "./bin/main",
  ]
  exclude_dir = ["assets", "tmp", "vendor", "testdata", ".idea", ".git", ".output.txt"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  include_dir = []
  include_ext = ["go", "tpl", "tmpl", "html"]
  include_file = []
  kill_delay = "500ms"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  post_cmd = []
  pre_cmd = []
  rerun = false
  rerun_delay = 500
  send_interrupt = true
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  silent = false
  time = false

[misc]
  clean_on_exit = false

[proxy]
  app_port = 0
  app_start_timeout = 0
  enabled = false
  proxy_port = 0

[screen]
  clear_on_rebuild = true
  keep_scroll = true
