# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
client_secret_*
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Air temporary directory and build logs
tmp/
build-errors.log

# Go workspace directories
bin/
pkg/

# IDE - GoLand
.idea/