# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
client_secret*
# Test binary, built with `go test -c`
*.test
.env
# Output of the go coverage tool
*.out
token*
# Air temporary directory and build logs
tmp/
build-errors.log

# Go workspace directories
bin/
pkg/

# IDE - GoLand
.idea/

# OAuth tokens
token_youtube.json
token_spotify.json
.output.txt

# Output of the server
output.log